
html{
  scroll-behavior: smooth;
}

.book-now{
  position: absolute;
  right: 15%;
  top: 25%;
  border-radius: 25px;
  border-width: medium;
  text-align: center;
  padding: 50px;
  background-color: rgba(101, 174, 203, 0.4);
  box-shadow: 10px 10px rgba(216, 197, 163, 0.8);
}

input, select{
  margin: 20px auto;
}
